.App {
  text-align: center;
  display: f;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body {
  font-family: cursive;
 }
 a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
 }



